@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  position: relative;
  background-color: #f6ecff;
}

header {
  display: grid;
  height: fit-content;
  place-content: center;
  background-color: #6753a4;
}

h1 {
  font-size: 24px;
  color: #ffffff;
  padding: 40px 0px;
}

section {
  max-width: 900px;
  margin: 50px auto;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: #363636;
  text-align: center;
  padding-top: 45px;
}

button {
  align-self: center;
  max-width: 109px;
  padding: 7px 13px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background: #816dd1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

footer {
  position: absolute;
  display: grid;
  place-content: center;
  bottom: 0;
  width: 100%;
  background-color: #6753a4;
}
